<%- layout('layouts/boilerplate')  %>
<style>
    
</style> 
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-10 offset-1 project">
            <div class="project-content">
                <!-- <div class="project-title p-5" style="background-image: url('<%= project.imageURL.url %>'); background-size: cover; " > -->
                    <div class="project-title p-5" >
                    <p class="display-3"><%= project.title %> <a href="/projects/<%= project._id %>/edit" class="btn btn-primary"><span>Edit</span></a></p>
                    <p class="display-6">By <%= project.author %></p>
                </div>
                <div class="project-text">
                    <%- project.body %>
                </div>
            </div>
        </div>
    </div>
</div>